@import './media';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Schoolbell", sans-serif, Arial;
}

.container {
  max-width: 1140px; // Asosiy kenglikni 1140px ga tushiramiz
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

// Media queries
@media (max-width: 1140px) {
  .container {
    max-width: 992px; // Kichik ekranlar uchun 992px kenglikda
  }
  .hero {
    flex-direction: column; 
    text-align: center;
  }
  .hero-right {
    margin-top: 30px; 
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  .hero-left {
    width: 100%;
  }
  .hero-right img {
    width: 100%;
    height: auto;
  }
  .static {
    flex-direction: column;
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  .header ul {
    flex-direction: column; 
    gap: 20px;
  }
  .hero-left h1 {
    font-size: 48px; 
  }
}

