@import './media';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Schoolbell", sans-serif, Arial;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

// STILLAR BOLIMI

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;

  &:active {
    transform: scale(0.98);
  }
}

// HEADER IN HERO SECTION
section {
  background-color: #043e51;
  max-width: 1440px;

}

.section__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 45px;
  padding-bottom: 317px;
  margin-bottom: 361px;

  position: relative;
}

// HEADER QISMI

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    align-items: center;
    gap: 50px;

    a {
      font-family: "Inter";
      font-size: 18px;
      font-weight: 600;
      line-height: 21.78px;
      text-align: left;
      color: #a1b5bb;
      transition: all 0.3s ease;

      &:hover {
        text-decoration: underline;

        color: #fff;
      }

      &:active {
        text-decoration: underline;
      }
    }
  }

  button {
    width: 140px;
    height: 58px;
    background-color: #145e76;
    border-radius: 25px;

    color: #fff;
    font-family: "Inter";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    transition: all 0.3s ease;

    &:hover {
      background-color: #206279;
      text-decoration: underline;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.header-href {
  text-decoration: underline;
}
// HERO QISMI

.hero {
  display: flex;
  gap: 163px;
  align-items: center;
}
.hero-left {
  width: 537px;
  height: 544px;

  .glass1 {
    width: 195px;
    height: 65px;
    border-radius: 30px;
    background-color: #094556;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Schoolbell";
    font-size: 24px;
    font-weight: 400;
    line-height: 33.42px;
    text-align: left;
    color: #fff;
  }

  h1 {
    width: 550px;
    height: 240px;

    font-family: "Inter";
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
    color: #fff;

    margin-bottom: 30px;
  }

  p {
    width: 520px;
    height: 58px;

    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #849499;

    margin-bottom: 55px;
  }
}
.hero-left-enter {
  display: flex;
  align-items: center;
  gap: 50px;

  .glass2 {
    width: 137px;
    height: 61px;
    border-radius: 25px;
    background-color: #ffa63a;

    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    color: #b6cdd4;
  }
}

.hero-lost {
  width: 300px;
  height: 169px;
  border-radius: 20px;
  border: 3px;
  background-color: #ffffff14;
  border: 3px solid #ffffff80;
  z-index: 1000;
  backdrop-filter: blur(58px);
  padding: 20px 28px 21px 28px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  p {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    width: 244px;
    height: 68px;
    color: #fff;
  }

  .hero-holder {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .hero-two {
    display: flex;
    flex-direction: column;
  }
}

.hero-right {
  position: relative;
  .hero-lost {
    position: absolute;
    bottom: 290px;
    left: 425px;
  }
}

.hero-two {
  h6 {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #fff;
  }

  a {
    width: 125px;
    height: 23px;

    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: #a1b5bb;
  }
}

// STATIC BOLIMI

.static {
  width: 1240px;
  height: 323px;
  border-radius: 30px;
  box-shadow: 0px 73px 80px 0px #0000000f;
  background-color: #fff;
  padding: 78px 218px;

  z-index: 1000;
  position: absolute;
  top: 930px;
  right: 70px;

  display: flex;
  flex-direction: column;
  gap: 69px;

  h5 {
    width: 123px;
    height: 23px;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: left;
    color: #265a6a;
  }

  .static-bottom {
    display: flex;
    gap: 90px;
    align-items: center;
  }
  .status {
    display: flex;
    flex-direction: column;
    gap: 29px;
  }
}

.status {
  h2 {
    width: 128px;
    height: 23px;
    font-family: "Inter";
    font-size: 48px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: left;
    color: #08546c;
  }

  a {
    width: 150px;
    height: 23px;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: #08546c;
  }
}

// MAIN QISMI

.main__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 70px;
  margin-bottom: 80px;

  .main-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    h6 {
      width: 76px;
      height: 23px;
      font-family: "Schoolbell";
      font-size: 24px;
      font-weight: 400;
      line-height: 22.4px;
      text-align: left;
      color: #265a6a;
    }

    h2 {
      width: 510px;
      height: 120px;
      font-family: "Inter";
      font-size: 45px;
      font-weight: 600;
      line-height: 60px;
      text-align: left;
      color: #08546c;
    }
  }
}

.main-bottom {
  display: flex;
  align-items: center;
  gap: 26px;

  p{
    width: 215px;
height: 73px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 25.6px;
text-align: left;
color: #696969;

  }

  h5{
    width: 213px;
height: 29px;
color: #0F1221;
font-family: "Inter";
font-size: 24px;
font-weight: 600;
line-height: 29.05px;
text-align: left;

margin-top: 25px;
margin-bottom: 10px;

  }

  .flow {
    width: 273px;
    height: 251px;
    box-shadow: 0px 41.78px 33.42px 0px #0000000d;
    padding: 32px 29px;
  }
  .main-devolopment {
    width: 273px;
    height: 251px;
    box-shadow: 0px 41.78px 33.42px 0px #0000000d;
    background-color: #08546c;

    h5{
        color: #fff;
    }
  }
}
